<div class="container   bg-danger">
  <div class="row text-center">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, explicabo animi nobis temporibus laboriosam quod dignisimos quis a excepturi mollitia!
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla provident, officia vel inventore id possimus! Quod est, exercitationem veniam provident corrupti nulla cupiditate iste assumenda?
      </div>
  </div>
  
</div>