<div class="container" style="margin-top: 80px;">
    <h1>Data binding with different way</h1>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Enter Name</span>
        </div>
        <input (input)="userInput($event)" class="form-control" type="text">
    </div>
    <p>{{userInputData}}</p>
    <button class="btn btn-info" type="button" [disabled]="!btnProperty" (click)="addData($event)">Add</button>

    <h1>data bindin 2-way with ngmodel</h1>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Enter name</span>
        </div>
        <input [(ngModel)]="userName" class="form-control" type="text">
    </div>
    <button class="btn btn-primary" type="button" (click)="addUser()">Add User</button>
    <!-- <p [ngStyle]="{'backgroundColor'  : 'green','color' : 'white'}" *ngIf="userNameSuccess">Welcome
        {{userName}}
        to Jbrand</p>
  <p *ngIf="!userNameSuccess">No user added</p> -->

    <ul class="list-group">
        <li *ngFor="let user of userArray" [ngClass]="{back: user ==='green'}" class="list-group-item">{{user.userName}}
            and Id {{user.userId}}</li>
    </ul>
</div>